<div id='main'>
<h1 id="title" namespace={{namespace}}> Honey Bunches of {{namespace}}</h1>
<ul id='users'>
{{#each users}}
		<li id={{this.id}}><div class='colorChoice' style="background-color:{{this.colour}}"></div>{{this.nickname}}</li>
{{/each}}
</ul>
<div id="colorGrid">
	{{#each colors}}
	<div class='colorBlock' id='{{this}}' style="background-color:{{this}}">
	</div>
	{{/each}}
</div>
<button id="start-button"> Waiting for host to start game</button>
</div>

<script type="text/javascript" src="../javascripts/lobby.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/lobby.css">
